<!doctype html>
<html lang="en">

<head>
    {{>css}}
</head>

<body>
    <div class="wrapper">
        <div class="header-wrapper">
            <header>
                {{>header}}
            </header>
                {{>menu}}
        </div>
        <div class="page-wrapper">
            <div class="page-content">
                {{{body}}}
            </div>
        </div>
        <div class="overlay toggle-icon"></div>
        <footer class="page-footer">
            <p class="mb-0">Copyright © 2021. All right reserved.
            </p>
        </footer>
    </div>
    

 {{>js}}
</body>

</html>
