
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--favicon-->
<link rel="icon" href="/public/assets_admin_rocker/images/favicon-32x32.png" type="image/png" />
<!--plugins-->
<link href="/public/assets_admin_rocker/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
<link href="/public/assets_admin_rocker/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
<link href="/public/assets_admin_rocker/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
<link href="/public/assets_admin_rocker/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
<!-- loader-->
<link href="/public/assets_admin_rocker/css/pace.min.css" rel="stylesheet" />
<script src="/public/assets_admin_rocker/js/pace.min.js"></script>
<!-- Bootstrap CSS -->
<link href="/public/assets_admin_rocker/css/bootstrap.min.css" rel="stylesheet">
<link href="/public/assets_admin_rocker/css/bootstrap-extended.css" rel="stylesheet">
<link href="/publichttps://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<link href="/public/assets_admin_rocker/css/app.css" rel="stylesheet">
<link href="/public/assets_admin_rocker/css/icons.css" rel="stylesheet">
<!-- Theme Style CSS -->
<link rel="stylesheet" href="/public/assets_admin_rocker/css/dark-theme.css" />
<link rel="stylesheet" href="/public/assets_admin_rocker/css/semi-dark.css" />
<link rel="stylesheet" href="/public/assets_admin_rocker/css/header-colors.css" />
<title>Rocker - Bootstrap 5 Admin Dashboard Template</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
