<script src="/public/assets_admin_rocker/js/bootstrap.bundle.min.js"></script>

<!--plugins-->
<script src="/public/assets_admin_rocker/js/jquery.min.js"></script>
<script src="/public/assets_admin_rocker/plugins/simplebar/js/simplebar.min.js"></script>
<script src="/public/assets_admin_rocker/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/public/assets_admin_rocker/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="/public/assets_admin_rocker/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/public/assets_admin_rocker/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/public/assets_admin_rocker/plugins/chartjs/js/Chart.min.js"></script>
<script src="/public/assets_admin_rocker/plugins/chartjs/js/Chart.extension.js"></script>
<script src="/public/assets_admin_rocker/js/index.js"></script>
<!--app JS-->
<script src="/public/assets_admin_rocker/js/app.js"></script>

{{!--  --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>


